.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 3rem;
  padding: 0.3rem 1rem;
}

.img {
  width: auto;
  height: 25px;
  object-fit: contain;
  object-position: center;
}

.title {
  margin: 0;
  font-size: 0.8rem;
}
