---
import Layout from "../layouts/Layout.astro";
import Avatar from "../components/avatar.astro";
import Certificates from "../components/certificates.astro";
import Experience from "../components/experience.astro";
import Projects from "../components/projects.astro";
import Technologies from "../components/technologies.astro";

// console.log(certificates); f
---

<Layout title="cQuiroz">
  <main>
    <div class="relative">
      <Avatar variant="1" />
      <div class="absolute -top-10 -left-10 w-20">
        <Certificates />
      </div>
      <div class="absolute -top-10 left-56 w-20">
        <Experience />
      </div>
      <div class="absolute top-56 left-56 w-20">
        <Projects />
      </div>
      <div class="absolute top-56 -left-10 w-20">
        <Technologies />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>
