---
import Layout from "../layouts/Layout.astro";
import Avatar from "../components/avatar.astro";
import Certificates from "../components/certificates.astro";
import Experience from "../components/experience.astro";
import Projects from "../components/projects.astro";
import Technologies from "../components/technologies.astro";
import Tooltip from "../components/tooltip.astro";

// console.log(certificates); f
---

<Layout title="cQuiroz">
  <main>
    <div class="avatarContainer">
      <Avatar variant="home" />
      <div class="iconLink certificate">
        <Tooltip title="Certificados" position="top-left">
          <Certificates />
        </Tooltip>
      </div>
      <div class="iconLink exprerience">
        <Tooltip title="Experiencia" position="top-right">
          <Experience />
        </Tooltip>
      </div>
      <div class="iconLink projects">
        <Tooltip title="Proyectos" position="bottom-right">
          <Projects />
        </Tooltip>
      </div>
      <div class="iconLink technologies">
        <Tooltip title="tecnologías" position="bottom-left">
          <Technologies />
        </Tooltip>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .avatarContainer {
    position: relative;
  }
  .iconLink {
    position: absolute;
    width: 3rem;
    height: 3rem;
  }
  .certificate {
    top: 0;
    left: 0;
  }
  .exprerience {
    top: 0;
    right: 0;
  }
  .projects {
    bottom: 0;
    right: 0;
  }
  .technologies {
    bottom: 0;
    left: 0;
  }
</style>
