---
import { Image } from "astro:assets";
interface Props {
  variant: string;
}
const { variant } = Astro.props;
---

<div class={`myContainer ${variant}`}>
  <Image
    width={208}
    height={208}
    class="avatarBackground"
    src="./svg/border-logo.svg"
    alt=""
  />
  <Image
    width={208}
    height={208}
    class="avatarBackground avatarBackground2"
    src="./svg/border-logo2.svg"
    alt=""
  />
  <Image
    width={208}
    height={208}
    class="avatarBackground avatarBackground3"
    src="./svg/border-logo3.svg"
    alt=""
  />
  <a href="/" transition:name="avatar">
    <Image width={208} height={208} class="avatar" src="/avatar.jpg" alt="" />
  </a>
</div>

<style>
  .myContainer {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center;
    position: relative;
  }
  .avatarBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .avatarBackground2 {
    animation-name: rotation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .avatarBackground3 {
    animation-name: rotation2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .home {
    width: 19rem;
    height: 19rem;
  }

  @keyframes rotation1 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(30deg);
    }
    75% {
      transform: rotate(-25deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes rotation2 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-60deg);
    }
    75% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  .home .avatar {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
  }
</style>
