---
interface Props {
  variant: "1" | "2";
}
const { variant } = Astro.props;
---

<a href="/" transition:name="avatar">
  <img
    class={`rounded-full ${
      variant === "1" ? "h-64 w-64" : "h-14 w-14"
    } border-4 border-green-400`}
    src="https://avatars.githubusercontent.com/u/35742082?v=4"
    alt=""
  />
</a>

<style></style>
