---
import Layout from "../../layouts/Layout.astro";
import { certificates } from "../../data/certificates.ts";
import Certificates from "../../components/certificates.astro";
import Experience from "../../components/experience.astro";
import Projects from "../../components/projects.astro";
import Technologies from "../../components/technologies.astro";
import Avatar from "../../components/avatar.astro";
import LayoutGrid from "../../layouts/layout-grid.astro";
import { Image } from "astro:assets";
import { formatDate } from "../../utils/functions/formatDate";

export function getStaticPaths() {
  return certificates.flatMap((data) => [{ params: { slug: data.slug } }]);
}
const { slug } = Astro.params;
const certificate = certificates.find((data) => data.slug === slug);
---

<Layout title="Welcome to Astro.">
  <LayoutGrid title={certificate!.title}>
    <Avatar slot="top-left" variant="2" />
    <Technologies slot="top-left-2" />
    <Certificates slot="top-right" />
    <Experience slot="bottom-right" />
    <Projects slot="bottom-left" />
    <main class="main">
      <Image
        src={certificate!.certificates_image}
        alt={certificate!.title}
        width={400}
        height={400}
      />
      <p class="text">{certificate!.description}</p>
      <p class="text">{`Fecha: ${formatDate(certificate!.date)}`}</p>
      <p class="text">{`Instituto: ${certificate!.institute}`}</p>
      {certificate?.url && <a href={certificate.url}>Url</a>}
    </main>
  </LayoutGrid>
</Layout>
<style>
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
  }
  .text {
    color: #00ffff;
  }
</style>
