---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="wrapper">
      <slot />
    </div>
    <style>
      body {
        background: rgb(0, 107, 222);
        background: radial-gradient(
          circle,
          rgba(0, 107, 222, 1) 0%,
          rgba(0, 2, 10, 1) 51%,
          rgba(0, 2, 10, 1) 100%
        );
        padding: 1rem;
        height: 100vh;
      }
      .wrapper {
        background-image: url("./svg/main-background.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        padding: 0.5rem;
        height: 100%;
      }
    </style>
  </body><!-- 00FFFF --><!-- 006BDE --><!-- 00020A -->
</html>
