---

---

<main class="main">
  <div class="top">
    <slot name="top-left" />
    <slot name="top-left-2" />
    <slot name="top-right" />
  </div>
  <div class="center">
    <slot />
  </div>
  <div class="bottom">
    <slot name="bottom-left" />
    <slot name="bottom-right" />
  </div>
</main>

<style>
  .main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1rem;
    height: 100%;
    padding: 0 1rem 1rem;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
  }

  .center {
    overflow-y: auto;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
  }
</style>
