html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --margin-container: 10%;
  
  --media-query-xs: 200px;
  --media-query-sm: 350px;
  --media-query-md: 600px;
  --media-query-lg: 1400px;

  --background: #2C2648;
  --background-light  : #322F5A ;

  --primary: #41FFA7;
  --secondary: #FF657D;
  --secondary-transparent: rgba(255, 101, 125, 0.3);
  --contrast: white;
}

