.title {
  margin-bottom: 2rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 450px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 850px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
